.app {
  width: 90%; margin: 0px auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}
.menu Button {
  text-transform: none;
}
.menu .login{display: flex; align-items: center; gap: 10px; float: right;}

.page {

}

.login {
  display: flex; gap: 15px; flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}
.login Button {
  text-transform: none;
  width: 100px;
}
.signup{

  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2); 
}